/* Font connection */

@font-face {
    font-family: 'Jaapokkisubtract';
    src: url('../fonts/JaapokkisubtractRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/JaapokkisubtractRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/JaapokkisubtractRegular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/JaapokkisubtractRegular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/JaapokkisubtractRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/JaapokkisubtractRegular#svgFontName') format('svg'); /* Legacy iOS */
}

/* Specification */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #0001c5;
}

.container {
    margin: 0 7%;
    position: relative;
    letter-spacing: 0.06em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jaapokkisubtract', sans-serif;
    letter-spacing: 0.1em;
    font-weight: normal;
    line-height: 1.25em;
}

h2 {
    letter-spacing: 0.04em;
    margin: 0;
}

h3 {
    letter-spacing: 0.03em;
}

p {
    line-height: 1.7em;
}

div, p, span, a, input, button {
    box-sizing: border-box;
}

.btn {
    font-family: 'Jaapokkisubtract', sans-serif; 
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;
    cursor: pointer;
    padding: 17px 0;
    width: 217px;
    transition: all .3s ease;
}

.btn:hover {
    background: #fff;
    color: #0001c5;
}

/* Hero Section */

.header {
    background: #0406bd url('../img/first_bg.jpg') no-repeat center bottom / cover;
    color: #fff; 

    height: 100vh;

    box-shadow: 0 40px 190px rgba(33, 48, 99, 0.4); 
}

.header .container {
    height: 100vh;
}

.logo {
    font-family: 'Jaapokkisubtract', sans-serif;
    height: 48px;
    width: 48px;
    background-color: #fff;
    color: #0000a0;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    display: block;
    text-decoration: none;
    transition: all .3s ease;
    position: absolute;
    top: 8%;
    z-index: 2;
}

.logo:hover {
    border-radius: 8px;

}

.brah {
    background: #fff;
    font-family: 'Jaapokkisubtract', sans-serif;
    font-size: 18px;
    color: #0304b9;
    height: 174px;
    width: 42px;
    padding: 15px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 61%;
    line-height: 1.4em;
}

.hamburger {
    position: absolute;
    width: 40px;
    top: 8%;
    right: 0;
    z-index: 10;
    cursor: pointer;
}

.hamburger span {
    background: #fff;
    display: block;
    height: 2px;
    margin-bottom: 6px;
    float: right;
    width: 100%;
}

.hamburger span:nth-child(1) {

}

.hamburger span:nth-child(2) {
    width: 75%;
    
}

.hamburger span:nth-child(3) {
    width: 50%;
}

.hamburger:hover span {
    float: left;
}

.offer {
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 0;
}

.offer__bg {
    font-family: 'Jaapokkisubtract', sans-serif;
    font-size: 300px;
    color: #1b1cc4;
    position: absolute;
}

.offer__title {
    font-size: 55px;
    position: relative;
    width: 561px;
    margin-top: 110px;
    margin-left: 134px;
}

.offer__title:after {
    content: '';
    display: block;
    background: #fff;
    width: 29px;
    height: 5px;
    position: absolute;
    top: -20px;
    right: 170px;
}

.offer__text {
    font-size: 17px;
    width: 337px;
    margin-top: 40px;
    margin-left: 226px;
}

.offer__btn {
    margin-left: 350px;
    margin-top: 45px;
}

.next {
    font-family: 'Jaapokkisubtract', sans-serif;
    font-size: 300px;
    width: 440px;
    position: absolute;
    right: 5%;
    top: 50%;
    margin-top: -210px;
    line-height: 0;
    text-shadow: 15px 15px 0 #0309a1;
}

.next span {
    margin-right: -70px;
    line-height: 0.7em;
}

.next span:nth-child(2) {
    color: #0048ff;
}

.scroll {
    display: block;
    font-family: 'Jaapokkisubtract', sans-serif;
    font-size: 22px;
    border-right: 3px solid #fff;
    height: 136px;
    padding-right: 40px;
    padding-top: 20px;
    color: #fff;
    width: 100px;
    text-decoration: none;
    position: absolute;
    right: 5%;
    bottom: 0;
    transition: all .3s linear;
}

.scroll:hover {
    background: #fff;
    color: #0000a0;
}

/* Services section */

.services {
    padding-top: 166px;
}

.services-title {

}

.services-title__intro {
    font-family: 'Jaapokkisubtract', sans-serif;
    color: #a8a8e4;
    font-size: 23px;
    margin: 0;
}

.services-title__title {
    font-size: 85px;
    margin-left: 50px;
    position: relative;
}

.services-title__title:after {
    content: '';
    display: inline-block;
    background: #1e1fec;
    width: 29px;
    height: 5px;
    margin-bottom: -15px;

}

.services-list {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}


.services-list__item {
    width: 20%;
    border: 4px solid #0001c5; 
    display: block;
    padding-left: 53px;
    padding-top: 60px;
    padding-bottom: 120px;
    position: relative;
    transition: all .2s linear;
}

.services-list__item:hover {
    background: #0001c5;
    color: #fff;
    box-shadow: 12px 12px 65px rgba(0, 1, 197, 0.45);

}

.services-list__item:hover .services-list__more {
    background-color: #fff;
    color: #0001c5;
}

.services-list__icon {
    font-size: 48px;
    margin-bottom: 45px;
    display: block;
}

.services-list__title {
    font-size: 26px;
}

.services-list__more {
    font-family: 'Jaapokkisubtract', sans-serif;
    font-size: 31px;
    position: absolute;
    display: block;
    text-align: center; 
    bottom: 0;
    right: 0;
    width: 34px;
    height: 37px;
    background-color: #0001c5;
    color: #fff;
}

.services-list__index {
    font-family: 'Jaapokkisubtract', sans-serif;
    position: absolute;
    font-size: 23px;
    color: #a8a8e4;
    left: -55px;
    top: 30px;
}